html,body,form
{
	height:100%;
}
body
{
	background-color:black;
	margin:0px;
	font-family:Arial;
	font-size:11px;
	color:white;
}

a{
	text-decoration:none;
}

#wrap
{
	min-height:480px;
	margin:0px auto;
	border-left: 3px solid #e36c0a;
	border-right: 3px solid #e36c0a;
}


/*HEADER*/
#header
{
	padding-top:5px;
	height:100%;
	text-align:center;
}
#header hr{
	width:100%;
	color:#e36c0a;
	border:0px;
	height:1px;
	background-color:#e36c0a;
}


/*MENU*/
#menu {
	margin:0px auto;
	width:100%;
	height:30px;
	border-top: 1px solid #e36c0a;
	border-bottom: 1px solid #e36c0a;
}
.menuitem{
	background-color:#e36c0a;
	margin:5px 5px 5px 8px;
	width:85px;
	height:20px;
	float:left;
	color:white;
	font-weight:bold;
	font-size:11pt;
}
.menuitem a{
	text-decoration:none;
}
#menu .selected{
	margin:3px 5px 5px 8px;
	border:2px solid white;
}


/*CONTENT*/
#contenthome
{
	padding-left:10px;
	padding-right:10px;
	white-space:normal;
	overflow:auto;
	padding-bottom:55px;
}
#content
{
	margin:0px auto;
	width:100%;
	padding-left:10px;
	padding-right:10px;
	white-space:normal;
	overflow:auto;
	padding-bottom:55px;
}


#boxes{
	width:100%;
	overflow:hidden;
	text-align:center;
}


.alignright{
	text-align:right;
}

.arrowdownshort{
	background: url("arrowdown_short.png") no-repeat right bottom;
}
.arrowdownlong{
	background: url("arrowdown_long.png") no-repeat right bottom;
}
.selectoption{
	width:100%;
	text-align:center;
}

/* TEXT*/
.introtext{
	font-size:10pt;
	text-align:justify;
}
.description{
	text-align:justify;
}
.thankyou{
	font-size:11pt;
	text-align:justify;
}

/* FLYOUT */
.flyout{
	font-size:10pt;
	float:right;
	width:135px;
	color:#e36c0a;
	padding:0 5px 0 5px;
	margin:0 1px 0 1px;
}
.bordered{
	border:1px solid white;
}
.handwritten{
	font-family:Comic Sans MS;
	font-style:italic;
}

.wbchar{
	color:white;
	font-weight:bold;
}
.obchar{
	color:#e36c0a;
	font-weight:bold;
}
.fontmedium{
	font-size:10pt;
}

.lrpadding50{
	padding-left:50px;
	padding-right:50px;
}


/* FORM */
.form td{
	vertical-align:top;
}
.formlabel{
	font-size:11pt;
}
.formlabelsmall{
	font-size:10pt;
}
.formspace{
	width:5px;
}
.inputinit{
	color:#e36c0a;
	font-size:10pt;
	width:200px;
}
.inputfocus{
	color:black;
	font-size:10pt;
	width:200px;
}
.button{
	font-size:10pt;
	color:#e36c0a;
}

.seperator{
	color:#e36c0a;
	border:0px;
	height:1px;
	background-color:#e36c0a;
}


/*OPTIONS*/
.options{
}
.options .header{
	color:#e36c0a;
	font-size:10pt;
	font-weight:bold;
}
.options td{
	vertical-align:top;
}


/*FOOTER*/
#footer
{
	margin-top:-75px;
	height:70px;
	text-align:center;
	color:#e36c0a;
}
#footer hr{
	width:300px;
	color:#e36c0a;
	border:0px;
	height:1px;
	background-color:#e36c0a;
}
#footer .contact{
	color:white;
	font-size:10pt;
	font-weight:bold;
	text-decoration:none;
}

/*FOOTER LANDING*/
#footerlanding
{
	margin-top:-57px;
	height:52px;
	text-align:center;
	color:#e36c0a;
}
#footerlanding hr{
	width:300px;
	color:#e36c0a;
	border:0px;
	height:1px;
	background-color:#e36c0a;
}
#footerlanding .contact{
	color:white;
	font-size:10pt;
	font-weight:bold;
	text-decoration:none;
}


.contact a{
	color:white;
	font-size:10pt;
	font-weight:bold;
	text-decoration:none;
}

.nomobile{
	text-decoration:none;
	color:white;
	font-size:8pt;
}

/*treXis*/
#treXis{
	position:absolute;
	bottom:0px;
	right:0px;
}
#treXis a{
	text-decoration:none;
}
#treXis .small{
	height:15px;
}
#treXis .large{
	height:40px;
}
